html{
    background-color: #fefff7;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: #fff4d6;
    display:grid;
    grid-template-areas: "b a";
    grid-template-columns: 33% auto;
    width: 75%;
    margin: auto;
}
aside{
    grid-area: b;
    background-color: #ffecb9;
    padding: 20px;
}
article{
    padding: 10px 30px;
    grid-area: a;
}
img{
    width: 200px;
    border-radius: 100%;
}
h1{
    text-transform: uppercase;
}
h2{
    letter-spacing: 5px;
    text-transform: uppercase;
}
h3{
    font-family: Arial, Helvetica, sans-serif;    
}
dt{
    display:list-item;
    list-style-type: disc;
    margin-left:40px;
    text-transform: uppercase;
    font-weight: bold;
}
#kep{
    text-align: center;
}
#skill ul{
    column-count: 2;
}
#skill li{
    margin-bottom: 30px;
}
#nyelv ul{
    column-count: 6;
}
.fa-download{
    float: right;
}
#interests div {
    column-count: 2;
}
#interests div *{
    margin: auto;
}
article>div{
    margin-bottom: 50px;
}