html {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0px;
}
main {
    display: grid;
    grid-template-areas: "b a";
    grid-template-columns: 1fr 2fr;
    width: 75%;
    margin: auto;
    background-color: var(--main);
}

aside { 
    grid-area: b;
    padding: 20px;
    background-color: var(--oldal);
}

article {
    background-color:var(--article);
    padding: 10px 30px;
    grid-area: a;
}

img {
    width: 200px;
    border-radius: 100%;
}

h1 {
    text-transform: uppercase;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
}
dt {
    display: list-item;
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#kep {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

#skill ul {
    column-count: 2;
}

#skill li {
    margin-bottom: 30px;
}

#nyelv ul {
    column-count: 3;
}

.fa-download {
    float: right;
}

#certificate>p{
    margin: 12px 40px;
}

#interests>div{
    display: grid;
    margin: auto;
    text-align: center;
    grid-template-columns: repeat(6,1fr);
}

#interests div * {
    margin: auto;
    margin-bottom: 5px;
}

article>div {
    margin-bottom: 50px;
}

aside>div {
    margin-bottom: 30px;
}

#education p{
    margin-top: 10px;
    margin-bottom: 0px;
}
#education ul li::marker{
    font-size: 30px;
}

.ev{
    font-size: 9pt;
}
.suli{
    font-size: 11pt;
    font-weight: bold;
}
a{
    color:var(--a);
}
.light-theme {
    background-color: #fefff7;
    --main: #fff4d6;
    --article: #fff4d6;
    --oldal: #ffecb9;
    --a:black;
    color: black;
}

.dark-theme {
    background-color: #2b2b2b;
    --main: #212121;
    --article: #212121;
    --oldal: #191615;
    --a:white;
    color: white;

}

* {
    transition: color 0.1s ease, background-color .6s ease;
}
@media screen and (max-width:1000px) {
    #interests>div{
        grid-template-columns: repeat(5,1fr);
    }
}

@media screen and (max-width:850px) {
    #interests>div{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width:700px) {
    main{
        width: 100%;
        margin:0px;
        grid-template-areas: "b"
                             "a";
        grid-template-columns: auto;
    }
    h1,h2,h3,#profil>p{
        text-align: center;
    }
}